<html>
  <body class="ctctsmdbody">
    <OpenTracking/>
    <!--  Do NOT delete previous line if you want to get statistics on the number of opened emails -->    
    <h1 class="ctctsmdheader"><Property name='Account.OrganizationName'/> News Digest</h1>
    <div class="ctctsmdheaderimgc">
      <img src="<%= CTCT_SMD.config[:constantcontact_img]%>" alt="Please show images"
        style="display: block;margin: auto;"/>
    </div>
    <br />
    <br />
    <div class="ctctsmdgreeting" >
        <CustomBlock name="letter.intro" title="Personalization">
            <Greeting/>
        </CustomBlock>    
    </div>
    <br />
    <br />    
    <p class="ctctsmdsubheader"><%= CTCT_SMD.config[:constantcontact_message]%></p>
    <br />
    <br />
    <% feeds.each do |feed| %>
      <%= feed %>
    <% end %>
  </body>
</html>
